.loginPage {
    background: url('Images/employeems.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/employeems.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

ul li :hover {
    background-color: gray;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.card{
    width: 70%;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .stats{
    background: #f2f5f8 !important;
    color: #000 !important;
  }
  .articles{
    font-size:10px;
    color: #a1aab9;
  }
  .number1{
    font-weight:500;
    font-size: 15px;
  }
  .followers{
    font-size:10px;
    color: #a1aab9;
  }
  .number2{
    font-weight:500;
    font-size: 15px;
  }
  .rating{
    font-size:10px;
    color: #a1aab9;
  }
  .number3{
    font-weight:500;
    font-size: 15px;
  }
  .details{
    gap: 50px;
  }
  .edit-logout{
    margin-top: 30px;
  }
  .card-details{
    margin-top: 12rem !important;
  }
  .heading{
      margin: auto;
  }